fastapi
uvicorn
python-dotenv
qdrant-client
langchain
openai
huggingface_hub
ollama
pydantic
python-multipart
pdfplumber
python-docx
unstructured
sentence-transformers
langchain-huggingface
gunicorn
pandas
requests
pyyaml
google-auth
google-auth-oauthlib
google-api-python-client
langchain-core
langchain-community
